<header class="position-fixed page-header">
  <nav class="flex">
    <a href="" class="logo bold" id="nav-here"><p>TH</p></a>
  </nav>
</header>
<div class="flex justify-content-center align-items-center vh-100">
  <div class="glow-box">
    <router-outlet></router-outlet>
  </div>
  <div class="corner-item bottom-right">
    <app-nav-button
      [icon]="'bi-linkedin'"
      [tooltip]="'View my LinkedIn profile'"
      [url]="'https://www.linkedin.com/in/tom-w-hunter/'"
    ></app-nav-button>
    <app-nav-button
      [icon]="'bi-envelope-at-fill'"
      [tooltip]="'Send me an email'"
      [url]="'mailto:tomhunter.dev@gmail.com'"
    ></app-nav-button>
    <app-nav-button
      [icon]="'bi-file-earmark-arrow-down-fill'"
      [tooltip]="'View my resume'"
      [url]="'assets/documents/Tom Hunter\'s Resume.pdf'"
    ></app-nav-button>
  </div>
  <div class="corner-item bottom-left legacy">
    <app-nav-button
      [icon]="'bi-archive-fill legacy-col'"
      [tooltip]="'View my legacy site'"
      [url]="'assets/legacy/index.html'"
    ></app-nav-button>
  </div>
  <div class="corner-item top-right dropdown">
    <app-dropdown [icon]="'bi-list'"></app-dropdown>
  </div>
</div>
