.flex-column {
    flex-direction: column;
}

.corner-item {
    position: absolute;
    text-align: center;
    margin: 20px 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-width: 200px;
    padding: 20px;

    &.bottom-right {
        top: 84%;
        right: 4%;
    }

    &.bottom-left {
        top: 84%;
        left: 4%;
    }

    &.top-right {
        position: absolute;
        bottom: 84%;
        right: 4%;
        justify-content: right;
    }
}

.title-card {
    padding-bottom: 100px;
    width: 600px;
}

.hello {
    padding-bottom: 15px;
}

.description {
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .title-card {
        width: 80%;
    }
}