/* css base made with assistance of https://webdesign.tutsplus.com/tutorials/build-a-static-portfolio-with-advanced-css-bar-chart--cms-33050 */


/* All */

:root {
    --gray: #cbcfd3;
    --white: white;
    --black: #1a1a1a;
    --blue: #0033e8;
    --lightwhite: whitesmoke;
    --lightblue: #009dd3;
    --peach: #ff9469;
    --transition-delay: 0.3s;
    --transition-delay-step: 0.3s;
    --skills-width: 120px;
}

/* Scrollbar Adjustments */

::-webkit-scrollbar {
    width: 11px;
    background: var(--lightwhite);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 51, 232, 0.4);
}

/* Image Zooming */

img .img-zoom {
    transition: transform 0.25s ease;
}

img .img-zoom:active {
    -webkit-transform: scale(2);
    transform: scale(2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.nav-list {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.page-header .nav-list {
    font-size: 2rem;
}

/* Navlist */
.nav-list li {
    margin: 0px 5px;
    border-bottom: 2px solid transparent;    
    transition: all .2s ease-in;
    
    font: sans-serif;
}
.nav-list li:hover {
    color: red;
    border-bottom: 2px solid red;
}

.nav-list li:focus  {
    color: red;
    background: red;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.equal-list {
    height: 300px;
    width: 33%;
}

.vh-100 {
    height: 100vh;
}

.h-20 {
    height: 20px;
}

.vh-main {
    height: auto;
}

.text-cont {
    margin: 20px 20vw 20px 20vw;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}

.text-blue {
    color: var(--blue);
}

.text-lightblue {
    color: #008ef2;
}

.image-table {
    width: 100%;
}

.text-list-inside {
    list-style-position: inside;
}

.text-list-margin {
    margin-left: 23%;
}

.text-list li {
    padding-bottom: 15px;
}

.textgap {
    padding-top: 10vh;
}

.largegap {
    padding-top: 22vh;
}

.gapbottom {
    padding-bottom: 50px;
}

.gapbottoml {
    padding-bottom: 25vh;
}

.logo-col {
    color: #ff3f0a;
}

.logo {
    margin-left: 0.5vw;
    margin-top: 0.2vw;
}

.bg-white {
    background: var(--white);
}

.bg-grey {
    background: #e3e3e3;
}

.txt-white {
    color: white;
}

.bg-lightwhite {
    background: var(--lightwhite);
}

.i {
    font-style: italic;
}

.textimg {
    box-sizing: none;
    float: left;
    margin: 15px;
}

.tableimg {
    width: 45%;
    margin: 2.5%;
    height: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.h1 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 5rem;
}

.h2 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 3.5rem;
}

.h3 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 2rem;
}

.h4 {
    font: 1rem/1.2 "Lucida Console", Monaco, monospace;
    font-size: 1.3rem;
    padding: 10px;
}

.text {
    font-size: 1.2rem;
    width: 700px;
    padding: 20px;
    line-height: 1.3;
}

.col {
    width: 1%;
}

.smalltext {
    font-size: 0.9rem;
    line-height: 1.1;
}

.text-large {
    width: 800px;
}

.b {
    font-weight: 600;
}

.notb {
    font-weight: normal;
    color: black;
}

#gpa {
    color: limegreen;
    font-weight: 600;
}

body {
    font: 1rem/1.2 "Lucida Console", Monaco, monospace;
    color: var(--black);
}


/* HEADER */

.page-header {
    left: 0;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 10;
}

.header-shadow {
    box-shadow: 0px 2px 6px rgba(160, 160, 160, 0.4);
}

.page-header .logo {
    font-size: 2rem;
}

.page-header li:not(:last-child) {
    margin-right: 20px;
}

.page-header a {
    font-size: 1.1rem;
}

.scroll-down {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-transform: uppercase;
    transition: all 0.5s;
}

.scroll-down.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.scroll-down::after {
    content: "";
    display: block;
    margin: 12px auto 0;
    width: 1.5px;
    height: 32px;
    background: var(--black);
    transform-origin: bottom;
    animation: pulse 1s infinite linear;
}


/* ABOUT ME */

.about {
    margin: 100px;
    margin-bottom: 0;
}


/* BG IMG - UNUSED */

.bg-img {
    background: #fff url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/code-wp.jpg) no-repeat center / cover;
}

.bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 7rem;
    background: var(--lightwhite);
    transform: skew(-5deg);
    transform-origin: left bottom;
}


/* CHART */

.chart-wrapper {
    width: 95%;
    max-width: 500px;
    margin-right: 100px;
    margin-top: 15px;
}

.no-list {
    list-style: none;
}

.chart-wrapper .chart-skills li::before,
.chart-wrapper .chart-skills li::after,
.chart-wrapper .chart-skills2 li::before,
.chart-wrapper .chart-skills2 li::after {
    content: "";
    position: absolute;
    top: 25%;
    left: var(--skills-width);
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.chart-wrapper .chart-skills li::after,
.chart-wrapper .chart-skills2 li::after {
    width: calc(100% - var(--skills-width));
    background: rgba(211, 211, 211, 0.3);
}

/* CHART 1 */

.chart-wrapper .chart-skills li::before {
    width: 0;
    background: #8400d6;
    transition: width 0.65s ease-out;
}
.chart-wrapper.in-view .chart-skills li:nth-child(1)::before {
    width: calc(82% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills li:nth-child(2)::before {
    width: calc(78% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step));
}
.chart-wrapper.in-view .chart-skills li:nth-child(3)::before {
    width: calc(69% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 2);
}
.chart-wrapper.in-view .chart-skills li:nth-child(4)::before {
    width: calc(66% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 3);
}
.chart-wrapper.in-view .chart-skills li:nth-child(5)::before {
    width: calc(58% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 4);
}

/* CHART 2 */

.chart-wrapper .chart-skills2 li::before {
    width: 0;
    background: #009dff;
    transition: width 0.65s ease-out;
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(1)::before {
    width: calc(81% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(2)::before {
    width: calc(79% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(3)::before {
    width: calc(68% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step));
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(4)::before {
    width: calc(64% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 2);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(5)::before {
    width: calc(62% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 3);
}

.chart-wrapper .chart-skills span,
.chart-wrapper .chart-skills2 span {
    display: inline-block;
    width: var(--skills-width);
    padding: 15px;
    text-align: right;
    width: 160px;
    margin-left: -30px;
}


.chart-wrapper .chart-levels {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: var(--skills-width);
}

.chart-wrapper .chart-levels li {
    border-right: 1px solid rgba(211, 211, 211, 0.3);
}

.chart-wrapper .chart-levels li:last-child {
    border-right: 0;
}

.chart-wrapper .chart-levels span {
    bottom: 0;
    transform: translateY(40px) translateX(10px) rotate(25deg);
    padding: 10px;
    width: 100%;
}

/* Game Images (for portfolio) */

.gameimg-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.gameimg-column {
  flex: 25%;
  padding: 0 7px;
}

.gameimg-column img {
  margin-top: 14px;
  vertical-align: middle;
}

.gameimg-container {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.gameimglarge-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.gameimg-container img {
  width: 100%;
  height: auto;
}

/* Button base */
.gameimg-container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    
    font-family: monospace;
    color: transparent;
    font-size: 10px;
    width: 12%;
    height: 12%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

/* Play game button */
.play-btn {
    top: 15%;
    left: 90%;
    background: transparent;
    background-image: url(img/icons/play-game.png);
    
}
.play-btn:active {
    color: rebeccapurple;
}

/* Download button */
.dld-btn {
    top: 15%;
    left: 73%;
    background: transparent;
    background-image: url(img/icons/download1.png);
}
.dld-btn:active {
    
}

.gameimg-container .btn:hover {
  color: white;
}


/* ANIMATIONS */

@keyframes pulse {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.65);
    }
    100% {
        transform: scaleY(1);
    }
}


/* MQ */

@media screen and (max-width: 900px) {
    .bg-img {
        display: none;
    }
    img:active {
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .text {
        width: 300px;
        padding: 20px 0px 20px 0px;
    }
    .text-large {
        width: 375px;
    }
    .text-cont {
        margin: 10px;
    }
    .tableimg {
        width: 95%;
        height: 225px;
    }
    .text {
        width: 400px;
        padding: 20px 0px 20px 0px;
    }
}