.charm-img {
  padding: 0;
  max-height: 400px;
  width: auto;
  margin: auto;
  margin-bottom: 20px;
}

.charm-img-mobile {
  padding: 0;
  max-height: 400px;
  margin-bottom: 20px;
  width: auto;
  margin: auto;
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .charm-img-mobile {
    display: block;
    max-height: 300px !important;
  }
  .charm-img {
    display: none;
  }
}

.year-text {
  color: var(--text);
  opacity: 0.8;
}
