.charm-img {
  padding: 0;
  max-height: 400px;
  width: auto;
  margin: auto;
  margin-bottom: 20px;
}

.charm-img-mobile {
  padding: 0;
  max-height: 400px;
  margin-bottom: 20px;
  width: auto;
  margin: auto;
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .charm-img-mobile {
    display: block;
  }
  .charm-img {
    display: none;
  }
}
