<div class="body-card">
  <div class="row">
    <h2>My Projects</h2>
  </div>
  <div class="row description-wrapper">
    <h3>Here are some things I've been working on</h3>
    <div class="description text">
      <div class="row section">
        <h4>Focus areas for growth</h4>
        <ul>
          <li>Cybersecurity (in web development)</li>
          <li>New angular 17 control flow and conventions (@if, @for, etc)</li>
          <li>RxJS operators and new ways to handle observables</li>
          <li>Angular NgRx actions, reducers, and effects</li>
        </ul>
      </div>
      <div class="row section">
        <h4>This portfolio website</h4>
        <p>
          Built to showcase my skills for all future prospective recruiters.
        </p>
        <ul>
          <li>Built using Angular 17</li>
          <li>Hosted on GitHub Pages</li>
        </ul>
      </div>

      <div class="row section">
        <h4>
          Magentus:
          <app-link
            [url]="'https://www.magentus.com/clinical-systems/oncology'"
            [text]="'Charm Evolution'"
          ></app-link>
        </h4>
        <p>
          Magentus is a global health technology company who provides clinical
          systems, practice management software and health informatics. I have
          worked here for over 2 years on their oncology application "Charm
          Evolution."
        </p>
        <p>
          I've been a part of the team to migrate our existing localised desktop
          application to a server-hosted web application. I've been working on
          migrating these features, implementing new features, and fixing any
          defects that arise.
        </p>
        <p>The stack of Charm Evolution:</p>
        <img
          src="assets/img/charm.png"
          alt="Charm Evolution"
          class="charm-img"
        />
        <img
          src="assets/img/charm-mobile.png"
          alt="Charm Evolution"
          class="charm-img-mobile"
        />
        <p>In this team we use:</p>
        <ul>
          <li>Agile structure of biweekly sprints</li>
          <li>
            <app-link
              [url]="'https://www.atlassian.com/software/jira'"
              [text]="'Jira'"
            ></app-link>
            to track features and implementations
          </li>
          <li>Git for version control</li>
          <li>
            <app-link
              [url]="'https://bitbucket.org/product'"
              [text]="'Bitbucket'"
            ></app-link>
            for pull-requests and branch management
          </li>
          <li>Daily stand-ups, weekly estimations, biweekly retrospectives</li>
        </ul>
      </div>

      <p class="text-center footer">
        Check out my
        <app-link
          [url]="'assets/documents/Tom%20Hunter\'s%20Resume.pdf'"
          [text]="'resume'"
        ></app-link>
        for more info.
      </p>
    </div>
  </div>
</div>
