
<header class="position-fixed bg-main page-header">
  <nav class="d-flex justify-content-center">
    <a href="" class="logo bold flex-1" id="nav-here"><p>TH</p></a>
    <ul class="nav-list d-flex no-list">
      <li><a href="assets/legacy/about.html">About</a></li>
      <li><a href="assets/legacy/projects.html">Projects</a></li>
      <li><a href="assets/legacy/resume.html">Resume</a></li>
      <li><a href="assets/legacy/devblog.html">Blog</a></li>
      <li><a href="assets/legacy/contact.html">Contact</a></li>
      <li><a></a></li>
    </ul>
  </nav>
</header>
<section class="d-flex justify-content-center align-items-center vh-100 bg-main nav-detach-point flex-column">
    <div class="row">
        <h1 class="text-center h1 h1padding">Tom Hunter
            <span class="d-block subtitle-colour h3">Full-Stack Software Developer<span class="blinker"></span></span>
        </h1>
    </div>
    <div class="socials right">
        <!-- <a class="bi-github socials-btn" href="https://github.com/tomhuntx" target="_blank" title="My Github"></a> -->
        <a 
          class="bi-linkedin" 
          href="https://www.linkedin.com/in/tom-w-hunter/" 
          target="_blank"
          placement="top"
          ngbTooltip="View my LinkedIn profile" 
          tooltipClass="socials-tooltip"
        ></a>
        <a 
          class="bi-envelope-at-fill" 
          href="mailto:tomhunter.dev@gmail.com" 
          target="_blank" 
          placement="top"
          ngbTooltip="Send me an email" 
          tooltipClass="socials-tooltip"
        >
        </a>
        <a 
          class="bi-file-earmark-arrow-down-fill" 
          href="assets/documents/Tom Hunter's Resume.pdf" 
          target="_blank" 
          placement="top"
          ngbTooltip="View my resume" 
          tooltipClass="socials-tooltip"
        >
        </a>
    </div>
    <div class="socials left legacy">
      <a 
        class="bi-archive-fill legacy-col" 
        href="assets/legacy/index.html" 
        placement="top"
        ngbTooltip="View my legacy site" 
        tooltipClass="socials-tooltip"
      >
      </a>
    </div>
</section>
    