<head>
  <title>Toms Portfolio</title>
  <meta charset="UTF-8">
  <meta name="description" content="My development portfolio.">
  <meta name="keywords" content="HTML,CSS">
  <meta name="author" content="Tom Hunter">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="title">
  <app-title-card></app-title-card>
</div>

<div class="wip-text">
  This site is a WIP

  <div>
    <a href="/toms-portfolio/src/legacy/index.html">Legacy site</a>
  </div>
</div>

<router-outlet></router-outlet>
