.dropdown {
    display: inline-block;
    font-size: 40px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;

    &:hover {
        color: var(--secondary);
    }

    &:active {
        color: var(--primary);
    }

    &::after {
        display: none;
    }
}
