<div
  ngbDropdown
  class="d-inline-block"
  display="dynamic"
  placement="bottom-end"
  [attr.data-bs-theme]="'dark'"
>
  <button
    [class]="icon"
    type="button"
    class="dropdown btn"
    id="dropdownConfig"
    ngbDropdownToggle
  ></button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <div *ngFor="let button of buttons">
      <button
        ngbDropdownItem
        (click)="navigate(button.url)"
        [ngClass]="{ selected: button.selected }"
      >
        {{ button.name }}
      </button>
    </div>
  </div>
</div>

<!--
  todo: switch to new control flow - is erroring for some reason.
  @for (button of buttons; track button) {
  {{ button.name }} 
} -->
